Resume dataset
- https://www.kaggle.com/avanisiddhapura27/resume-dataset
- https://www.kaggle.com/oo7kartik/resume-text-batch?

JD dataset
- https://www.kaggle.com/bman93/dataset

In [1]:
import pandas as pd

In [2]:
jd = pd.read_csv('datasets/JD_dataset/top30.csv')
jd

,Unnamed: 0,Unnamed: 0.1,Query,Description
0,10,10,Administrative Assistant,This Administrative Assistant position is resp...
1,35,35,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,140,140,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,214,214,Sales Representative,Are you ready for something new? Are you tired...
4,350,350,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...,...,...
72287,1117876,1117876,Business Analyst,ability construct complex sql statement analyz...
72288,1117877,1117877,Business Analyst,join u pursue disruptive new vision make machi...
72289,1117878,1117878,Business Analyst,duty high level independent decision making au...
72290,1117879,1117879,Business Analyst,crowdstrike leading provider next-generation e...
72291,1117880,1117880,Business Analyst,manager competitive intelligence driving force...

In [3]:
jd = jd[['Query', 'Description']]
jd

,Query,Description
0,Administrative Assistant,This Administrative Assistant position is resp...
1,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,Sales Representative,Are you ready for something new? Are you tired...
4,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next-generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [4]:
jd['Description'].sample(10)

17095    <p>Compared to other franchise opportunities i...
45267    <P>If you are a confident and highly motivated...
59003    A West Jordan, UT company is looking for an Ad...
57366    <p style="text-align: center" align="center"><...
920      Cracker Barrel is born and bred in quality. In...
55489    <b>Job Classification: </b> Contract \r\n\r\nA...
26283    <p>Compared to other franchise opportunities i...
36638    <p>A <strong>Snap-on Tools franchise </strong>...
21436    <DIV>\r<P style="MARGIN: 0pt"><SPAN style="FON...
53558    <p><span>Want to get started with a rapidly gr...
Name: Description, dtype: object

In [5]:
test = jd['Description'].str.replace(r'<.+?>', ' ') \
                        .str.replace(r'\\n', ' ')   \
                        .str.replace(r'\\r', ' ')   \
                        .str.replace(r'\s+', ' ')
test.sample(10)

12590     A Snap-on Tools franchise is a unique opportu...
7171     NAPA Auto Parts operates a national network of...
65779     Do you enjoy outside sales, interacting with ...
62164    Aegis Therapies has a unique rehabilitation ou...
127       Responsibilities: This person will be respons...
54716     GOWIRELESS &nbsp; Looking for a rewarding sal...
27126     Commission Based Sales Representative Are you...
60894     GOWIRELESS Looking for a rewarding sales oppo...
35834     If you are a confident and highly motivated i...
60560     Do you enjoy outside sales, interacting with ...
Name: Description, dtype: object

In [6]:
jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \
                                     .str.replace(r'\\n', ' ')   \
                                     .str.replace(r'\\r', ' ')   \
                                     .str.replace(r'\s+', ' ')
jd

<ipython-input-6-f4d9054ec40f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \

,Query,Description
0,Administrative Assistant,This Administrative Assistant position is resp...
1,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashio...
3,Sales Representative,Are you ready for something new? Are you tired...
4,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next-generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [7]:
jd['Query'].unique()

array(['Administrative Assistant', 'Sales Representative',
       'Customer Service Representative', 'Java Developer',
       'Financial Analyst', 'Project Manager', 'Executive Assistant',
       'Maintenance Technician', 'Physical Therapist', 'Store Manager',
       'Staff Accountant', 'Inside Sales Representative',
       'Account Executive', 'Receptionist', 'Senior Accountant',
       'Business Analyst', 'Restaurant Manager', 'Account Representative',
       'Retail Sales Associate',
       'Sales Representative / Account Manager /  Customer Service',
       'Retail Wireless Sales Consultant', 'Sales Management Trainee',
       'Jani-King Franchise Business Opportunity',
       'Own Your Own Franchise!', 'Cashier', 'Sales / Franchise',
       'Customer Service - Sales Representative - Part Time Work',
       'Mobile Tool Sales / Franchise Distributor', 'Benefits Consultant',
       'Sales / Customer Service – Part or Full time – Summer Work'],
      dtype=object)

In [8]:
jd['Query'] = jd['Query'].str.lower()
jd['Description'] = jd['Description'].str.lower()
jd

<ipython-input-8-e34ff3a9a533>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Query'] = jd['Query'].str.lower()
<ipython-input-8-e34ff3a9a533>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].str.lower()

,Query,Description
0,administrative assistant,this administrative assistant position is resp...
1,administrative assistant,administrative assistant part time the west or...
2,administrative assistant,administrative assistant - in bus 26yrs fashio...
3,sales representative,are you ready for something new? are you tired...
4,customer service representative,superior staff resources is currently seeking ...
...,...,...
72287,business analyst,ability construct complex sql statement analyz...
72288,business analyst,join u pursue disruptive new vision make machi...
72289,business analyst,duty high level independent decision making au...
72290,business analyst,crowdstrike leading provider next-generation e...
72291,business analyst,manager competitive intelligence driving force...

In [58]:
jd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72292 entries, 0 to 72291
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Query        72292 non-null  object
 1   Description  72292 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [9]:
resume1 = pd.read_csv('datasets/Resume_dataset1/resume_data.csv')
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['Java (Less than 1 year)', ' Jsp (Less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,"{0: [{'c_title:': 'Java Developer'}, {'c_durat...",\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,"{0: [{'wtitle:': 'JAVA DEVELOPER'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['Programming Languages: Core Java', ' J2EE \n...","['http://github.com/NK-PATEL/Train_Project', '...",{},NONE
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",[],{},"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",[],{},NONE
4,NONE,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['Project: HR Payroll Systems Role: Java Devel...,[],{},NONE
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,{0: [{'wtitle:': 'Project Administration & Pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,NONE,NONE,"{0: [{'wtitle:': 'Accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['NONE'],[],{},\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"{0: [{'wtitle:': 'Administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",[],{},\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,"{0: [{'wtitle:': 'Assistant Manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",[],{},\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,"{0: [{'wtitle:': 'Commercial Officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",[],{},\nKey Skills \n \n➢ Good communication and lea...

In [10]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14800 non-null  object
 1   City                    14800 non-null  object
 2   State                   14800 non-null  object
 3   Description             14800 non-null  object
 4   work_experiences        14800 non-null  object
 5   Educations              14798 non-null  object
 6   Skills                  14798 non-null  object
 7   Links                   14798 non-null  object
 8   Certificates            14798 non-null  object
 9   Additional Information  14798 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [11]:
print(type(resume1['work_experiences'].iloc[40]))
resume1['work_experiences'].iloc[40]

<class 'str'>

"{0: [{'wtitle:': 'java developer'}, {'wcompany:': 'N'}, {'wcity:': 'NONE'}, {'wstate:': 'NONE'}, {'wduration:': 'Present'}, {'wdescr:': 'NONE'}]}"

In [12]:
import ast

In [13]:
ast.literal_eval(resume1['work_experiences'].sample(1).iloc[0])

{0: [{'wtitle:': 'Full Stack Developer'},
  {'wcompany:': 'Adjoint Technologies Pvt Ltd'},
  {'wcity:': 'NONE'},
  {'wstate:': 'NONE'},
  {'wduration:': 'July 2018 to Present'},
  {'wdescr:': 'Front End and Back End using Spring Boot, Spring Data JPA and Angular 2+ with MySQL database.'}],
 1: [{'wtitle:': 'Software Developer'},
  {'wcompany:': 'Phoenix Research and Consulting Solutions Pvt Ltd'},
  {'wcity:': 'NONE'},
  {'wstate:': 'NONE'},
  {'wduration:': 'May 2017 to May 2018'},
  {'wdescr:': 'NONE'}]}

In [14]:
def parse_dict(string):
    try:
        obj = ast.literal_eval(string)
    except:
        if isinstance(string, float):
            return str(string)
        for x in ["'wtitle:'", "'wcompany:'", "'wcity:", "'wstate:'", "'wduration:'", "'wdescr:'", "\n", "'NONE'", ": '", "'}, {", ":", "[", "]", "{", "}"]:
            string = string.replace(x, '')
        return string
    result = []
    for job in obj.values():
        for item in job:
            for value in item.values():
                if value == 'NONE': continue
                value = value.replace("\n", "").strip().lower()
                result.append(value)
    return ' '.join(result)

resume1['work_experiences'].sample(1).map(parse_dict).iloc[0]

'python developer cygen group hyderabad telangana march 2019 to present project: health management system client: lamjingba (manipur) role: python developer  environment: python, sql, css, html, java script, django, pycharm  description: the project hospital management system includes registration of patients, storing their details into the system, and also computerized billing in the pharmacy, and labs. the software has the facility to give a unique id for every patient and stores the details of every patient and the staff automatically. it includes a search facility to know the current status of each room. user can search availability of a doctor and the details of a patient using the id.  the hospital management system can be entered using a username and password. it is accessible by an different users. only they can add data into the database. the data can be retrieved easily. the interface is very user-friendly. the data are well protected for personal use and makes the data processing very fast.  responsibilities: • involved in the design, development and testing phases of application using agile methodology. • designed and developed components using python with django framework. implemented code in python to retrieve and manipulate data. • designed and maintained databases using python and developed python based api (restful web service). • worked on restful web services, this enforced a stateless client server and support json few changes from soap to restful technology. • involved in detailed analysis based on the requirement documents.  project: aimhealth client: manila role: python developer  environment: python, django, html, css, java script description: aimhealth will provide you with the health assessment services and shall help you in predicting the potential lifestyle related diseases ahead of time. predicting in advance will provide ample time to deliver the right care at the right time thereby preventing the development of the disease which will save everyone from the massive associated cost, emotional and physical sufferings.  responsibilities: • designed and maintained database using python and developed python based api (restful web service) using flask. • designed and developed components using python with django framework. • worked on automation of testing using python unit test • implemented code in python to retrieve and manipulate data. • integration with backend systems and third-party through api. • bug fixing.'

In [15]:
for x in ['work_experiences', 'Educations', 'Certificates']:
    resume1[x] = resume1[x].map(parse_dict)
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,"['Java (Less than 1 year)', ' Jsp (Less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,"['Programming Languages: Core Java', ' J2EE \n...","['http://github.com/NK-PATEL/Train_Project', '...",,NONE
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,"['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",[],,"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,"['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",[],,NONE
4,NONE,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,['Project: HR Payroll Systems Role: Java Devel...,[],,NONE
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,"['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,['NONE'],[],,\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,"['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",[],,\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",[],,\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,"['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",[],,\nKey Skills \n \n➢ Good communication and lea...

In [16]:
resume1['Skills'].sample(1).iloc[0]

"['Core Java', ' HTML', ' CSS', ' JSP', ' MySQL']"

In [17]:
def parse_list(string):
    if isinstance(string, float):
        return ''
    try:
        obj = ast.literal_eval(string)
    except:
        string = string.replace('\n', '')
        return string
    result = []
    for x in obj:
        if x == 'NONE': continue
        x = x.replace('\n', '')
        result.append(x.strip().lower())
    return ' '.join(result)

resume1['Skills'].sample(1).map(parse_list).iloc[0]

'microsoft visual studio visual studio html database oracle'

In [18]:
resume1['Skills'] = resume1['Skills'].map(parse_list)

In [19]:
resume1['Additional Information'].sample(1).iloc[0]

'NONE'

In [20]:
def parse_info(string):
    if isinstance(string, float):
        return ''
    string = string.replace('\n', '')
    if string == 'NONE': return ''
    return string.lower()
resume1['Additional Information'].sample(1).map(parse_info).iloc[0]

''

In [21]:
resume1['Additional Information'] = resume1['Additional Information'].map(parse_info)
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,NONE,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,NONE,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [22]:
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,NONE,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,NONE,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [39]:
resume1['Resume_title'].sample(1).iloc[0]

'IT Project Manager with over 10+ years of global experience in building products and delivering projects across domains looking for next challenging opportunity.'

In [51]:
resume1['Resume_title'] = resume1['Resume_title'].str.replace('NONE', '').str.replace('\n', '').str.lower()
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,java developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [50]:
resume1['Description'].sample(1).iloc[0]

'➢ Worked as Assistant Accountant in "Sreeven Infocom Ltd from from April 2017 to June 2018. \n➢ Currently working with Sandhya Consultancy Services Pvt. Ltd from June 2018 to Till date \nHaving 3.0 Years of professional experience as an accountant involving accounting, Reconciliation, Vendor reconciliation, cash handling & accounting, Bank Reconciliation, statutory payments, employee accounts, Maintain of general ledger, and MIS reports to the Management etc. \n \nWork Experience-1: \nOrganization: Sreeven Infocom Ltd \nDesignation: Assistant Accountant \nSector: IT& ITES \nPeriod: April 17, 2017 to 13 June 2018'

In [52]:
resume1['Description'] = resume1['Description'].str.replace('NONE', '').str.replace('\n', '').str.lower()
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,java developer,Tirur,Kerala,"to prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,Bengaluru,Karnataka,working as software developer at ingroinfo sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,java developer,Pune,Maharashtra,looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,Pune,Maharashtra,,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,,Pune,Maharashtra,,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,Calicut,Kerala,management professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,NONE,NONE,,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,,Durgapur,West Bengal,to be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,,NONE,NONE,a finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,,Howrah,West Bengal,age: 32 years gender: male functional area: ac...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [54]:
resume1 = resume1[['Resume_title', 'Description', 'work_experiences', 'Educations', 'Skills', 'Certificates', 'Additional Information']]
resume1

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,java developer,"to prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,working as software developer at ingroinfo sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,,
2,java developer,looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,,
4,,,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,,
...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,management professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,,computer proficiency applications accounting:...
14801,,to be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,,year of degree/certificate institution % of ma...
14802,,a finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),,strengths and core competencies • knowledge o...
14803,,age: 32 years gender: male functional area: ac...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,,key skills ➢ good communication and leadershi...

In [57]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14800 non-null  object
 1   Description             14800 non-null  object
 2   work_experiences        14804 non-null  object
 3   Educations              14804 non-null  object
 4   Skills                  14804 non-null  object
 5   Certificates            14804 non-null  object
 6   Additional Information  14804 non-null  object
dtypes: object(7)
memory usage: 809.7+ KB