Resume dataset
- https://www.kaggle.com/avanisiddhapura27/resume-dataset
- https://www.kaggle.com/oo7kartik/resume-text-batch?

JD dataset
- https://www.kaggle.com/bman93/dataset

In [132]:
import pandas as pd

In [133]:
jd = pd.read_csv('datasets/JD_dataset/top30.csv')
jd

,Unnamed: 0,Unnamed: 0.1,Query,Description
0,10,10,Administrative Assistant,This Administrative Assistant position is resp...
1,35,35,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,140,140,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,214,214,Sales Representative,Are you ready for something new? Are you tired...
4,350,350,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...,...,...
72287,1117876,1117876,Business Analyst,ability construct complex sql statement analyz...
72288,1117877,1117877,Business Analyst,join u pursue disruptive new vision make machi...
72289,1117878,1117878,Business Analyst,duty high level independent decision making au...
72290,1117879,1117879,Business Analyst,crowdstrike leading provider next-generation e...
72291,1117880,1117880,Business Analyst,manager competitive intelligence driving force...

In [134]:
jd = jd[['Query', 'Description']]
jd

,Query,Description
0,Administrative Assistant,This Administrative Assistant position is resp...
1,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,Sales Representative,Are you ready for something new? Are you tired...
4,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next-generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [135]:
jd['Description'].sample(10)

41552    <p style="text-align: center" align="center"> ...
56557    <strong>Classification: </strong>  Accountant ...
72059    knack business analytics report development ? ...
15643    <span> \r<div>\r<div>\r<div>\r<p><span>Richman...
20582    <p>Looking to generate extra income and achiev...
8801     <span>\r<p>Want to get started with a rapidly ...
50913    <p>Want to get started with a rapidly growing ...
17122    <P><SPAN style="TEXT-DECORATION: underline"><S...
66677    <p><span>Want to get started with a rapidly gr...
20301    <p>Compared to other franchise opportunities i...
Name: Description, dtype: object

In [136]:
test = jd['Description'].str.replace(r'<.+?>', ' ') \
                        .str.replace(r'\\n', ' ')   \
                        .str.replace(r'\\r', ' ')   \
                        .str.replace(r'\s+', ' ')
test.sample(10)

27033     Classification: Secretary/Admin Asst Compensa...
37178     Are you someone who knows they can and should...
8115      Looking for a career opportunity! Smalley Ste...
36622     A Snap-on Tools franchise is a unique opportu...
21408     Outside Sales Professional Our organization i...
51877     About the Opportunity At a time when jobs are...
65187     Classification: Customer Service Compensation...
19585     Full Time Lead Generation Specialist Are you ...
30179    Kelly Financial Resources is currently seeking...
39507     Want to get started with a rapidly growing an...
Name: Description, dtype: object

In [137]:
jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \
                                     .str.replace(r'\\n', ' ')   \
                                     .str.replace(r'\\r', ' ')   \
                                     .str.replace(r'\s+', ' ')
jd

<ipython-input-137-f4d9054ec40f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \

,Query,Description
0,Administrative Assistant,This Administrative Assistant position is resp...
1,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashio...
3,Sales Representative,Are you ready for something new? Are you tired...
4,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next-generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [138]:
jd['Query'].unique()

array(['Administrative Assistant', 'Sales Representative',
       'Customer Service Representative', 'Java Developer',
       'Financial Analyst', 'Project Manager', 'Executive Assistant',
       'Maintenance Technician', 'Physical Therapist', 'Store Manager',
       'Staff Accountant', 'Inside Sales Representative',
       'Account Executive', 'Receptionist', 'Senior Accountant',
       'Business Analyst', 'Restaurant Manager', 'Account Representative',
       'Retail Sales Associate',
       'Sales Representative / Account Manager /  Customer Service',
       'Retail Wireless Sales Consultant', 'Sales Management Trainee',
       'Jani-King Franchise Business Opportunity',
       'Own Your Own Franchise!', 'Cashier', 'Sales / Franchise',
       'Customer Service - Sales Representative - Part Time Work',
       'Mobile Tool Sales / Franchise Distributor', 'Benefits Consultant',
       'Sales / Customer Service – Part or Full time – Summer Work'],
      dtype=object)

In [139]:
jd['Query'] = jd['Query'].str.lower()
jd['Description'] = jd['Description'].str.lower()
jd

<ipython-input-139-e34ff3a9a533>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Query'] = jd['Query'].str.lower()
<ipython-input-139-e34ff3a9a533>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].str.lower()

,Query,Description
0,administrative assistant,this administrative assistant position is resp...
1,administrative assistant,administrative assistant part time the west or...
2,administrative assistant,administrative assistant - in bus 26yrs fashio...
3,sales representative,are you ready for something new? are you tired...
4,customer service representative,superior staff resources is currently seeking ...
...,...,...
72287,business analyst,ability construct complex sql statement analyz...
72288,business analyst,join u pursue disruptive new vision make machi...
72289,business analyst,duty high level independent decision making au...
72290,business analyst,crowdstrike leading provider next-generation e...
72291,business analyst,manager competitive intelligence driving force...

In [140]:
jd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72292 entries, 0 to 72291
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Query        72292 non-null  object
 1   Description  72292 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [144]:
output_jd = jd['Query'] + ' ' + jd['Description']
output_jd

0        administrative assistant this administrative a...
1        administrative assistant administrative assist...
2        administrative assistant administrative assist...
3        sales representative are you ready for somethi...
4        customer service representative superior staff...
                               ...
72287    business analyst ability construct complex sql...
72288    business analyst join u pursue disruptive new ...
72289    business analyst duty high level independent d...
72290    business analyst crowdstrike leading provider ...
72291    business analyst manager competitive intellige...
Length: 72292, dtype: object

In [145]:
resume1 = pd.read_csv('datasets/Resume_dataset1/resume_data.csv')
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['Java (Less than 1 year)', ' Jsp (Less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,"{0: [{'c_title:': 'Java Developer'}, {'c_durat...",\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,"{0: [{'wtitle:': 'JAVA DEVELOPER'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['Programming Languages: Core Java', ' J2EE \n...","['http://github.com/NK-PATEL/Train_Project', '...",{},NONE
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",[],{},"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",[],{},NONE
4,NONE,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['Project: HR Payroll Systems Role: Java Devel...,[],{},NONE
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,{0: [{'wtitle:': 'Project Administration & Pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,NONE,NONE,"{0: [{'wtitle:': 'Accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['NONE'],[],{},\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"{0: [{'wtitle:': 'Administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",[],{},\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,"{0: [{'wtitle:': 'Assistant Manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",[],{},\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,"{0: [{'wtitle:': 'Commercial Officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",[],{},\nKey Skills \n \n➢ Good communication and lea...

In [146]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14800 non-null  object
 1   City                    14800 non-null  object
 2   State                   14800 non-null  object
 3   Description             14800 non-null  object
 4   work_experiences        14800 non-null  object
 5   Educations              14798 non-null  object
 6   Skills                  14798 non-null  object
 7   Links                   14798 non-null  object
 8   Certificates            14798 non-null  object
 9   Additional Information  14798 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [147]:
print(type(resume1['work_experiences'].iloc[40]))
resume1['work_experiences'].iloc[40]

<class 'str'>

"{0: [{'wtitle:': 'java developer'}, {'wcompany:': 'N'}, {'wcity:': 'NONE'}, {'wstate:': 'NONE'}, {'wduration:': 'Present'}, {'wdescr:': 'NONE'}]}"

In [148]:
import ast

In [149]:
ast.literal_eval(resume1['work_experiences'].sample(1).iloc[0])

{0: [{'wtitle:': 'IT Analyst'},
  {'wcompany:': 'TATA Consultancy Services '},
  {'wcity:': ' Bengaluru'},
  {'wstate:': ' Karnataka'},
  {'wduration:': 'December 2012 to Present'},
  {'wdescr:': '  \nAcademic Details \nA      2012: BE (Electronics and Communication) from Malnad College Of Engineering, Vishweshwaraya Technological University, Hassan with 76.2% \n  \n  \nCertifications \n       Oracle Agile PLM 9.3.3.2 Gold Level certificate from TCS- Cisco Systems \n       Cisco Gold level certified user on Agile PDM from TCS- Cisco Systems \n       Six Sigma Green Belt and Black Belt Certified from TCS- Cisco Systems \n \n Professional Experience \n  \nSince Dec’ 12 with Tata Consultancy Services Ltd. & Cisco Systems, Bengaluru \nGrowth Path \nDec’12- Nov’14 as Assistant System Engineer \nDec’14- Dec’16 as System Engineer \nJan’17- till now as IT Analyst \n  \nKey Result Areas: \n       Coordinating with the partners in the Product & Tech Teams for launching end user products across internal & related external assets across multi-platforms & devices \n       Directing & controlling new product development projects with key focus on QCD (Quality, Control & Delivery) \n       Coordinating for the entire product development cycle including requirement analysis, planning, monitoring, market surveying, component development, prototype development, overall testing for validation \nB      Troubleshooting all technical problems; conducting various tests & inspections to ensure that products developed are in compliance with pre-set quality specifications \nE      Managing the design & development of products and technical standards, supporting proto manufacturing during integration and testing; interacting with suppliers and delivering projects as per scheduled milestones \n      Developing vendor assessment systems, identifying areas of quality failures and taking steps to rectify the system-wide preventive & corrective actions to avoid the reoccurrences \n(      Implementing of supplier related systems, audits, complaint management and so on \nE      Developing new product/ process concepts for product optimization, yield improvement & for frugal product development & value engineering \nl      Coordinating for tests, inspections & reviewing new product development procedures and drawings for compliance with applicable specifications \ne      Creating layouts, designs, drawings & documentation and analysis to identify errors and conduct relevant modifications in the same \nc      Conducting the design failure mode analysis , identifying failure area, taking counter-measures to avoid repetitive \nt      Administering general activities including: \no   Product cost target setting and monitoring & tracking of the same \no   Product execution as per plan \no   Market dynamics & risk analysis for new launching products \no   Daily, weekly, monthly project health & EC update - MIS to senior management \no   Benchmarking analysis & Inputs \no   Coordination & implementation of ECRs, ECO \no   Interfacing with ISMS & internal auditor \no   In-house part availability'}],
 1: [{'wtitle:': 'NA'},
  {'wcompany:': 'NA'},
  {'wcity:': 'NONE'},
  {'wstate:': 'NONE'},
  {'wduration:': 'NONE'},
  {'wdescr:': 'NA'}]}

In [150]:
def parse_dict(string):
    try:
        obj = ast.literal_eval(string)
    except:
        if isinstance(string, float):
            return str(string)
        for x in ["'wtitle:'", "'wcompany:'", "'wcity:", "'wstate:'", "'wduration:'", "'wdescr:'", "\n", "'NONE'", ": '", "'}, {", ":", "[", "]", "{", "}"]:
            string = string.replace(x, '')
        return string
    result = []
    for job in obj.values():
        for item in job:
            for value in item.values():
                if value == 'NONE': continue
                value = value.replace("\n", "").strip().lower()
                result.append(value)
    return ' '.join(result)

resume1['work_experiences'].sample(1).map(parse_dict).iloc[0]

"auditor jhs & associates november 2018 to present job profile: • product farm loan. • reviewing the customer's loan files which involve checking the sanction letters, cam reports, kyc documents, cibil reports, valuation reports, legal reports, profit & loss a/c and balance sheets etc. • maintaining daily records in mis of the work done and reporting of it to the manager. • adherence to kyc norms. • inhouse payout collection. mis executive 3i infotech pvt. ltd mumbai maharashtra april 2013 to june 2017 location: mumbai industry: insurance department: life claim designation: mis executive duration: apr 2013 to june 2017  job profile: • creating & modifying ecs (electronic clearance system) in as-400 system. updating client details in as-400 system. • preparing the data for fresh cases for inwarding • analyzing the calls and taking appropriate action as to avoid escalations from the client. • sharing mis with the client on daily basis based on the tat of the calls. • preparing closure files based on assessor's decision. (by v-lookup between the data shared by automatically updated file and the daily report for the day) • closure of the calls logged by branch, call centers, internal team based on the decisions provided by assessor's team. • dispatching original documents back to the customer on their request and keeping track of the same  handled systems & software • windows xp (commonly used operating system of windows) • as-400 (life asia) system (mostly used in insurance companies) • omni docs (client documents & image uploading & viewer software) • work sparrc software. • outlook, internet."

In [151]:
for x in ['work_experiences', 'Educations', 'Certificates']:
    resume1[x] = resume1[x].map(parse_dict)
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,"['Java (Less than 1 year)', ' Jsp (Less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,"['Programming Languages: Core Java', ' J2EE \n...","['http://github.com/NK-PATEL/Train_Project', '...",,NONE
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,"['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",[],,"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,"['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",[],,NONE
4,NONE,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,['Project: HR Payroll Systems Role: Java Devel...,[],,NONE
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,"['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,['NONE'],[],,\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,"['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",[],,\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",[],,\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,"['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",[],,\nKey Skills \n \n➢ Good communication and lea...

In [152]:
resume1['Skills'].sample(1).iloc[0]

"['MS ACCESS', ' SQL', ' QLIKVIEW', ' RDBMS', ' SAP']"

In [153]:
def parse_list(string):
    if isinstance(string, float):
        return ''
    try:
        obj = ast.literal_eval(string)
    except:
        string = string.replace('\n', '')
        return string
    result = []
    for x in obj:
        if x == 'NONE': continue
        x = x.replace('\n', '')
        result.append(x.strip().lower())
    return ' '.join(result)

resume1['Skills'].sample(1).map(parse_list).iloc[0]

'java (2 years) spring hibernate javascript reactjs'

In [154]:
resume1['Skills'] = resume1['Skills'].map(parse_list)
resume1

In [155]:
resume1['Additional Information'].sample(1).iloc[0]

'NONE'

In [156]:
def parse_info(string):
    if isinstance(string, float):
        return ''
    string = string.replace('\n', '')
    if string == 'NONE': return ''
    return string.lower()
resume1['Additional Information'].sample(1).map(parse_info).iloc[0]

''

In [157]:
resume1['Additional Information'] = resume1['Additional Information'].map(parse_info)
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,NONE,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,NONE,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [158]:
resume1['Resume_title'].sample(1).iloc[0]

'Freelance Web Application developer and Technical Consultant'

In [159]:
resume1['Resume_title'] = resume1['Resume_title'].str.replace('NONE', '').str.replace('\n', '').str.lower()
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,java developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,java developer,Pune,Maharashtra,Looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,,Pune,Maharashtra,NONE,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,NONE,NONE,NONE,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,,Durgapur,West Bengal,To be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,,NONE,NONE,A finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [160]:
resume1['Description'].sample(1).iloc[0]

'• Working as Associate Consultant at Infrasoft Technology Pvt. Ltd.'

In [161]:
resume1['Description'] = resume1['Description'].str.replace('NONE', '').str.replace('\n', '').str.lower()
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,java developer,Tirur,Kerala,"to prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,['https://www.linkedin.com/in/mohamed-rihan-k-...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,Bengaluru,Karnataka,working as software developer at ingroinfo sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,"['http://github.com/NK-PATEL/Train_Project', '...",,
2,java developer,Pune,Maharashtra,looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,[],,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,Pune,Maharashtra,,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,[],,
4,,Pune,Maharashtra,,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,[],,
...,...,...,...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,Calicut,Kerala,management professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,['http://www.linkedin.com/in/akhil-ravi-1512b6...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,NONE,NONE,,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,[],,computer proficiency applications accounting:...
14801,,Durgapur,West Bengal,to be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,[],,year of degree/certificate institution % of ma...
14802,,NONE,NONE,a finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),[],,strengths and core competencies • knowledge o...
14803,,Howrah,West Bengal,age: 32 years gender: male functional area: ac...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,[],,key skills ➢ good communication and leadershi...

In [162]:
resume1 = resume1[['Resume_title', 'Description', 'work_experiences', 'Educations', 'Skills', 'Certificates', 'Additional Information']]
resume1

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,java developer,"to prove myself dedicated, worthy and energeti...",java developer n present,bachelor's in bachelor of computer application...,java (less than 1 year) jsp (less than 1 year)...,java developer june 2019 to present trained th...,technical expertise • operating systems: windo...
1,software developer,working as software developer at ingroinfo sof...,java developer ingroinfo software solution pvt...,mca in master of computer appliction feroze ga...,programming languages: core java j2ee ide: ecl...,,
2,java developer,looking for a challenging career which demands...,java developer n,bachelor's in electrical engineering shri saib...,eclipse (1 year) hibernate spring (less than 1...,,"technical skills frameworks: spring, springbo..."
3,seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,be in computer jayawantrao sawant college of e...,git angular 7 maven java jenkins pcf cloud spr...,,
4,,,java developer credit system india october 201...,bachelor of engineering in computer science ra...,project: hr payroll systems role: java develop...,,
...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,management professional seeking a full-time po...,project administration & payroll officer centa...,mba in marketing & hr mahatma gandhi universit...,ms office (9 years) aconex project management ...,iso 9001:2018 qms internal auditor certificati...,iso 9001:2015 qms llyod register certified aco...
14800,,,accountant sandhya marines ltd march 2017 to p...,b.com degree college september 2008 s.s.c st.a...,,,computer proficiency applications accounting:...
14801,,to be potential resource to the organization w...,"administrative works ""dav model school, durgap...",certificate govt. college barddhaman west beng...,accounting erp tally payroll financial accounting,,year of degree/certificate institution % of ma...
14802,,a finance professional with close to 6 years o...,assistant manger jeev diagnostics pvt ltd apri...,bachelor of commerce in commerce a.m. jain col...,erp (2 years) tally (5 years) ms office (6 years),,strengths and core competencies • knowledge o...
14803,,age: 32 years gender: male functional area: ac...,commercial officer srmb steel (continueing jul...,b.com in accountancy calcutta university kolka...,accounting ecommerce management accounting,,key skills ➢ good communication and leadershi...

In [163]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14800 non-null  object
 1   Description             14800 non-null  object
 2   work_experiences        14804 non-null  object
 3   Educations              14804 non-null  object
 4   Skills                  14804 non-null  object
 5   Certificates            14804 non-null  object
 6   Additional Information  14804 non-null  object
dtypes: object(7)
memory usage: 809.7+ KB

In [174]:
output_resume1 = resume1.apply(lambda x: ' '.join(str(x) for x in x.values), axis=1)
output_resume1

0        java developer to prove myself dedicated, wort...
1        software developer working as software develop...
2        java developer looking for a challenging caree...
3        seeking innovative and challenging career assi...
4          java developer credit system india october 2...
                               ...
14799    back office operations & hr coordinator manage...
14800      accountant sandhya marines ltd march 2017 to...
14801     to be potential resource to the organization ...
14802     a finance professional with close to 6 years ...
14803     age: 32 years gender: male functional area: a...
Length: 14804, dtype: object

In [7]:
import os
import re

In [2]:
os.listdir('datasets/Resume_dataset2/resumes_text_15k')

['batch_1',
 'batch_10',
 'batch_11',
 'batch_12',
 'batch_13',
 'batch_14',
 'batch_15',
 'batch_2',
 'batch_3',
 'batch_4',
 'batch_5',
 'batch_6',
 'batch_7',
 'batch_8',
 'batch_9',
 'test_batch']

In [175]:
resume2 = []

def process_text(string):
    string = re.sub(r'[\uf0d8\uf0f6\uf0b7\uf020]', '', string)
    string = re.sub(r'[_·-•-/■]+', ' ', string)
    string = re.sub(r'\s+', ' ', string)
    string = string.replace('\t', '').lower()
    return string

batches = os.listdir('datasets/Resume_dataset2/resumes_text_15k')
for x in batches:
    files = os.listdir(f'datasets/Resume_dataset2/resumes_text_15k/{x}')
    for file in files:
        with open(f'datasets/Resume_dataset2/resumes_text_15k/{x}/{file}', 'r', encoding='utf-8') as f:
            lines = [line.strip() for line in f.readlines()]
            lines = [process_text(line).strip() for line in lines if len(line) > 1]
            resume2.append(lines)

In [177]:
import random
n = random.random()

resume2[int(n*len(results))]

['name: ankit sen roy',
 'resume',
 'name: ankit sen roy',
 'address: 21a, madan gopal lane, kolkata 700012',
 'phone:9883101330',
 'e mail: ankitsenroy@gmail.com',
 'objectives',
 'to build a carrier as a corporate professional with a challenging mind. want to work in a project as an active member.',
 'educational qualifications:',
 'examination',
 'board university',
 'institution',
 'year',
 'marks[%]',
 'bba(h)',
 'makaut(wbut)',
 'george college',
 '2017',
 '6.97',
 'h.s.(10+2)',
 'nios',
 'nois',
 '2014',
 '47.20',
 'matriculation(10)',
 'cisce',
 'st.joseph s college',
 '2011',
 '55.60',
 'working experience:',
 'corporate experience currently, working as associate in wipro limited under (british telecom) process. started working from 7th july, 2017',
 'internship: joy beauty care and products for 3 weeks',
 'personal data:',
 'father s name: late asit kr sen roy',
 'date of birth: 16th may,1994',
 'computer & typing skills: ms excel,ms word and ms powerpoint',
 'language(s) known: good proficiency in english, hindi & bengali.',
 'place:kolkata']

In [180]:
output_resume2 = [' '.join(x) for x in resume2]
output_resume2[:2]

["arghya das my profile project engineer, band b1, developer l2 personal details: name : arghya das mail id: arg234@gmail.com arghya.das1@wipro.com contact no: +91 9972364371 9474869936 current location bangalore, karnataka, india work experience summary: total experience 01 years 06 months current employer: wipro technologies (jan 2011 till date) designation: project engineer (microsoft sharepoint 2010 developer) first employer: wipro bpo ltd. as technical associate *(appointment letter and resignation letter as proof of employment & exp.) technical experience summary: acquired skills (top 10 skills): skill name no. of months microsoft sharepoint 2010 1 yr dot net framework 1.0, 2.0, 3.0, 3.5 4.0 3 yr 04months visual studio dot net (2003,2005,2008,2010) 3 yr 04months ms sql server 2005 2008 3yrs c#.net 3 yr 04months ado.net 3 yr 04months asp.net 3 yr 04months html 3 yr 04months css 3 yr 04months javascript 1 yr project details: 1. ftse (expected go live: july 2012) start date 19 aug 2011 team size 25 end date 30 june 2012 period in months 10 role developer l2 onsite duration(months) 0 project description the project is meant to redesign the entire website in order to achieve: improved efficiency: make the website more efficient for both seasoned and unseasoned users by making it easier to access the contents quicker and with more accuracy. improved access to product & service details: the website should ensure that the user can easily search for an index, access more details about an index and get all the information about the ftse services. branding and lead generation: the website should aid the efforts of the marketing team in establishing ftse as the leading index provider. the website should provide a rich user experience which in turn would lead to frequent visits and eventually lead generation. research information: the website should provide comprehensive content on research and publications from ftse. the website in its later phases should provide advanced research, analytics and related services. responsibilities contributions developing master page and home page. develop page layouts. developed custom webparts using c#.net and asp.net using visual studio2010 implemented sharepoint's out of box generic search control. developing static pages and some static webparts. sharepoint out of box controls implementation. sharepoint ribbon control customization and implementation. developed the whole site's look and feel alone from html prototype to sharepoint site. used skills : duration (months) sharepoint 10 months c# asp.net 10 months html 10 months css 10 months javascript 10 months education details: education specialization year of graduation institution university btech ece 2009 dumkal institute of engineering & tech certification done: database and windows application development (dwad) from niit. using c#.net, visual studio2008,asp.net 3.5, ado.net, ms sql server 2005 2008 in the year 2010 2011. passport details: issue date expiry date issue country issue authority country of birth 20 sep 2010 19 sep 2020 india ministry of external affirs india foreign languages: language proficiency level english proficient declaration: i arghya das working do here by declare that the information given above my profile is true and correct to best of my knowledge. date: 05 may 2012 thanks and regards, arghya das wipro technologies",
 'curriculum vitae curriculum vitae pooja darji career objective: to obtain a challenging position as a software engineer , in a growth oriented company, where i can fully utilize my skills while contributing, for the benefits of my organization and other workmates. education qualification: education board university year of passing percentage b.c.a. gujarat uni 2012 65.55% h.s.c g.s.h.e.b. 2009 71.14% s.s.c g.s.e.b. 2007 60.00% technical skills: operating system windows dos 98 2000 xp programming languages c, c++,vb.net,asp.net,html front end application vb.net database oracle 8i, ms acess, sql ms access web technologies html,xhtml project: 1 project title two wheeler auto motion develop for yamaha showrooms semester t.y.b.c.a skill used vb.net,sql server 2005 personal profile: experience: 1) 1.6 year experience in an seo (search engine optimization) and cs at steamlite sales pvt ltd base. seo ker skills off page optimization: directory submission social bookmarking article submission forum posting. content writing classified ad blogs submission comment posting forum discussion classified seo tools used: google adwords google analytics page rank checker tool google webmaster tool declaration: i hereby declare that the above mentioned information is true to the best of my knowledge. your faithfully, pooja darji full name� darji pooja� father name� mahesh bhai� date of birth� 3rd aug 1987� nationality� indian� gender� female� languages known� 1) english 2) hindi 3) gujarati� contact no� 8734897900� mailing address� l 22 329,geeta appt, opp.laxminagar flat,ranip,ahmedabad� e mail id� � hyperlink "mailto:darjipooja3638@gmail.com" �darjipooja3638@gmail.com�� hobbies� reading, cooking.�']

In [181]:
print(len(output_jd))
print(len(output_resume1))
print(len(output_resume2))

72292
14804
15066

In [185]:
with open('data.txt', 'w+', encoding='utf-8') as f:
    f.writelines(output_jd.values)
    f.writelines(output_resume1.values)
    f.writelines(output_resume2)