Resume dataset
- https://www.kaggle.com/avanisiddhapura27/resume-dataset
- https://www.kaggle.com/oo7kartik/resume-text-batch?

JD dataset
- https://www.kaggle.com/bman93/dataset

In [1]:
import pandas as pd
import nltk
import ast
import re
import os

In [2]:
stopwords = nltk.corpus.stopwords.words('english')
print(stopwords[:5])
stopwords = set(stopwords)

['i', 'me', 'my', 'myself', 'we']

In [3]:
jd = pd.read_csv('datasets/JD_dataset/Top30.csv')
jd

,Unnamed: 0,Unnamed: 0.1,Query,Description
0,10,10,Administrative Assistant,This Administrative Assistant position is resp...
1,35,35,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,140,140,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,214,214,Sales Representative,Are you ready for something new? Are you tired...
4,350,350,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...,...,...
72287,1117876,1117876,Business Analyst,ability construct complex sql statement analyz...
72288,1117877,1117877,Business Analyst,join u pursue disruptive new vision make machi...
72289,1117878,1117878,Business Analyst,duty high level independent decision making au...
72290,1117879,1117879,Business Analyst,crowdstrike leading provider next-generation e...
72291,1117880,1117880,Business Analyst,manager competitive intelligence driving force...

In [4]:
jd = jd[['Query', 'Description']]
jd

,Query,Description
0,Administrative Assistant,This Administrative Assistant position is resp...
1,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...
2,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...
3,Sales Representative,Are you ready for something new? Are you tired...
4,Customer Service Representative,Superior Staff Resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next-generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [5]:
jd['Description'].sample(10)

20113    Cracker Barrel is born and bred in quality. In...
63909    <hr>\r<p align="center"><strong>Account Repres...
69150    <p align="center"><span style="text-decoration...
31097    <p>Compared to other franchise opportunities i...
36447    <strong>When is a job more than just a job? </...
7029     <p><b><span>TATA Consultancy Services (TCS)</s...
24174    <p><b><strong>Job Title: Java Developer</stron...
64592    <P>If you are a confident and highly motivated...
41473    <strong>Classification: </strong>  Customer Se...
45509    Cracker Barrel is born and bred in quality. In...
Name: Description, dtype: object

In [6]:
jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \
                                    .str.replace(r'\\n', ' ')   \
                                    .str.replace(r'\\t', '')  \
                                    .str.replace(r'\\r', ' ')   \
                                    .str.replace(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '') \
                                    .str.replace(r'[,!?;.:]+', '')   \
                                    .str.replace(r'[•●✓·➢⮚~&]', '')  \
                                    .str.replace(r'[\+\*=@#<>\(\)\[\]\^_/"-]+', ' ') \
                                    .str.replace(r'\s+', ' ')  \
                                    .str.lower()
jd

<ipython-input-6-6f73d4d50485>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].str.replace(r'<.+?>', ' ') \

,Query,Description
0,Administrative Assistant,this administrative assistant position is resp...
1,Administrative Assistant,administrative assistant part time the west or...
2,Administrative Assistant,administrative assistant in bus 26yrs fashion ...
3,Sales Representative,are you ready for something new are you tired ...
4,Customer Service Representative,superior staff resources is currently seeking ...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [7]:
def remove_stopwords(sentence):
    tokens = sentence.split()
    tokens = [token for token in tokens if token not in stopwords]
    return " ".join(tokens)

jd['Description'] = jd['Description'].map(remove_stopwords)
jd

<ipython-input-7-35695795e6f3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Description'] = jd['Description'].map(remove_stopwords)

,Query,Description
0,Administrative Assistant,administrative assistant position responsible ...
1,Administrative Assistant,administrative assistant part time west orange...
2,Administrative Assistant,administrative assistant bus 26yrs fashion han...
3,Sales Representative,ready something new tired current job making r...
4,Customer Service Representative,superior staff resources currently seeking cus...
...,...,...
72287,Business Analyst,ability construct complex sql statement analyz...
72288,Business Analyst,join u pursue disruptive new vision make machi...
72289,Business Analyst,duty high level independent decision making au...
72290,Business Analyst,crowdstrike leading provider next generation e...
72291,Business Analyst,manager competitive intelligence driving force...

In [8]:
jd['Query'] = jd['Query'].str.lower()
jd

<ipython-input-8-b19acd0fc196>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jd['Query'] = jd['Query'].str.lower()

,Query,Description
0,administrative assistant,administrative assistant position responsible ...
1,administrative assistant,administrative assistant part time west orange...
2,administrative assistant,administrative assistant bus 26yrs fashion han...
3,sales representative,ready something new tired current job making r...
4,customer service representative,superior staff resources currently seeking cus...
...,...,...
72287,business analyst,ability construct complex sql statement analyz...
72288,business analyst,join u pursue disruptive new vision make machi...
72289,business analyst,duty high level independent decision making au...
72290,business analyst,crowdstrike leading provider next generation e...
72291,business analyst,manager competitive intelligence driving force...

In [9]:
jd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72292 entries, 0 to 72291
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Query        72292 non-null  object
 1   Description  72292 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [10]:
output_jd = jd['Query'] + ' ' + jd['Description']
output_jd

0        administrative assistant administrative assist...
1        administrative assistant administrative assist...
2        administrative assistant administrative assist...
3        sales representative ready something new tired...
4        customer service representative superior staff...
                               ...
72287    business analyst ability construct complex sql...
72288    business analyst join u pursue disruptive new ...
72289    business analyst duty high level independent d...
72290    business analyst crowdstrike leading provider ...
72291    business analyst manager competitive intellige...
Length: 72292, dtype: object

In [11]:
resume1 = pd.read_csv('datasets/Resume_dataset1/resume_data.csv')
resume1

,Resume_title,City,State,Description,work_experiences,Educations,Skills,Links,Certificates,Additional Information
0,Java Developer,Tirur,Kerala,"To prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['Java (Less than 1 year)', ' Jsp (Less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,"{0: [{'c_title:': 'Java Developer'}, {'c_durat...",\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Bengaluru,Karnataka,Working as Software Developer at IngroInfo Sof...,"{0: [{'wtitle:': 'JAVA DEVELOPER'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['Programming Languages: Core Java', ' J2EE \n...","['http://github.com/NK-PATEL/Train_Project', '...",{},NONE
2,Java developer,Pune,Maharashtra,Looking for a challenging career which demands...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",[],{},"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",[],{},NONE
4,NONE,Pune,Maharashtra,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['Project: HR Payroll Systems Role: Java Devel...,[],{},NONE
...,...,...,...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Calicut,Kerala,Management Professional seeking a full-time po...,{0: [{'wtitle:': 'Project Administration & Pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,NONE,NONE,"{0: [{'wtitle:': 'Accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['NONE'],[],{},\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,Durgapur,West Bengal,To be potential resource to the organization w...,"{0: [{'wtitle:': 'Administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",[],{},\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,NONE,NONE,A finance professional with close to 6 years o...,"{0: [{'wtitle:': 'Assistant Manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",[],{},\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Howrah,West Bengal,Age: 32 years \nGender: Male \nFunctional Area...,"{0: [{'wtitle:': 'Commercial Officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",[],{},\nKey Skills \n \n➢ Good communication and lea...

In [12]:
resume1 = resume1[['Resume_title', 'Description', 'work_experiences', 'Educations', 'Skills', 'Certificates', 'Additional Information']]
resume1

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,Java Developer,"To prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['Java (Less than 1 year)', ' Jsp (Less than 1...","{0: [{'c_title:': 'Java Developer'}, {'c_durat...",\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,Working as Software Developer at IngroInfo Sof...,"{0: [{'wtitle:': 'JAVA DEVELOPER'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['Programming Languages: Core Java', ' J2EE \n...",{},NONE
2,Java developer,Looking for a challenging career which demands...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",{},"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",{},NONE
4,NONE,NONE,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['Project: HR Payroll Systems Role: Java Devel...,{},NONE
...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,Management Professional seeking a full-time po...,{0: [{'wtitle:': 'Project Administration & Pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,NONE,"{0: [{'wtitle:': 'Accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['NONE'],{},\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,To be potential resource to the organization w...,"{0: [{'wtitle:': 'Administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",{},\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,A finance professional with close to 6 years o...,"{0: [{'wtitle:': 'Assistant Manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",{},\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,Age: 32 years \nGender: Male \nFunctional Area...,"{0: [{'wtitle:': 'Commercial Officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",{},\nKey Skills \n \n➢ Good communication and lea...

In [13]:
resume1['Description'] = resume1['Description'].str.replace('NONE', '') \
                                            .str.replace('\n', '') \
                                            .str.replace(r'\\n', ' ')   \
                                            .str.replace(r'\\t', '')  \
                                            .str.replace(r'\\r', ' ')   \
                                            .str.replace(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '') \
                                            .str.replace(r'[,!?;.:]+', '')   \
                                            .str.replace(r'[•●✓·➢⮚~&]', '')  \
                                            .str.replace(r'[\+\*=@#<>\(\)\[\]\^_/"-]+', ' ') \
                                            .str.replace(r'\s+', ' ')  \
                                            .str.lower() \
                                            .map(lambda x: '' if isinstance(x, float) else remove_stopwords(x))
resume1

<ipython-input-13-835694e1e28a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resume1['Description'] = resume1['Description'].str.replace('NONE', '') \

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,Java Developer,prove dedicated worthy energetic progressive o...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['Java (Less than 1 year)', ' Jsp (Less than 1...","{0: [{'c_title:': 'Java Developer'}, {'c_durat...",\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,working software developer ingroinfo software ...,"{0: [{'wtitle:': 'JAVA DEVELOPER'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['Programming Languages: Core Java', ' J2EE \n...",{},NONE
2,Java developer,looking challenging career demands best profes...,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",{},"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",{},NONE
4,NONE,,"{0: [{'wtitle:': 'Java Developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['Project: HR Payroll Systems Role: Java Devel...,{},NONE
...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,management professional seeking full time posi...,{0: [{'wtitle:': 'Project Administration & Pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,,"{0: [{'wtitle:': 'Accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['NONE'],{},\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,potential resource organization utilize skills...,"{0: [{'wtitle:': 'Administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",{},\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,finance professional close 6 years experience ...,"{0: [{'wtitle:': 'Assistant Manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",{},\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,age 32 years gender male functional area accou...,"{0: [{'wtitle:': 'Commercial Officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",{},\nKey Skills \n \n➢ Good communication and lea...

In [14]:
resume1['Description'].sample(1).iloc[0]

''

In [15]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14800 non-null  object
 1   Description             14804 non-null  object
 2   work_experiences        14800 non-null  object
 3   Educations              14798 non-null  object
 4   Skills                  14798 non-null  object
 5   Certificates            14798 non-null  object
 6   Additional Information  14798 non-null  object
dtypes: object(7)
memory usage: 809.7+ KB

In [16]:
print(type(resume1['work_experiences'].iloc[40]))
resume1['work_experiences'].iloc[40]

<class 'str'>

"{0: [{'wtitle:': 'java developer'}, {'wcompany:': 'N'}, {'wcity:': 'NONE'}, {'wstate:': 'NONE'}, {'wduration:': 'Present'}, {'wdescr:': 'NONE'}]}"

In [17]:
ast.literal_eval(resume1['work_experiences'].sample(1).iloc[0])

{0: [{'wtitle:': 'ETL Developer'},
  {'wcompany:': 'Incedo Technology Solutions Limited '},
  {'wcity:': ' Gurgaon'},
  {'wstate:': ' Haryana'},
  {'wduration:': 'May 2019 to Present'},
  {'wdescr:': 'Domain: - Financial Services \nRole & Responsibilities:- \n1. Take the database reporting needs and turn them into powerful SQL queries that will extract data and compile it into meaningful reports. \n2. Perform data loads and routine updates on an ongoing basis. \n3. Prepared Excel report with Pivot table and Charts for Data Analysis. \n4. Develop, modify, maintain and support custom reports (MS-SQL, SSRS) for both ad-hoc and ongoing needs. \n5. On Jira to creating and maintain technical documentation for daily tasks and progress reporting. \n6. Scheduled monthly and quarterly reports in batch processing. \n7. Prepared automated scripts for DB re-indexing on a daily basis and thus enhanced the application performance in a higher manner. \n8. Optimized all long-running and heavy DB queries by preforming proper indexing and using proper query optimization techniques \n9. Monitoring SSRS reports in 24/7 basis. Scheduling jobs for SQL and on a daily basis to process transaction related data.'}],
 1: [{'wtitle:': 'IT Administrator'},
  {'wcompany:': 'Bodihi International Skool'},
  {'wcity:': 'NONE'},
  {'wstate:': 'NONE'},
  {'wduration:': 'January 2017 to April 2019'},
  {'wdescr:': "My responsibilities: \nMaintained school management ERP software. Coordinate and supervise the installation, maintenance, and support of existing and new servers, systems. To manage the school's hardware and software on ERP software."}],
 2: [{'wtitle:': 'Process Executive'},
  {'wcompany:': 'OSE'},
  {'wcity:': 'NONE'},
  {'wstate:': 'NONE'},
  {'wduration:': 'March 2015 to December 2016'},
  {'wdescr:': 'Responsibilities: \n1. Designed workflows with many sessions with decision, assignment task, event wait, and event raise tasks, used informatica scheduler to schedule jobs. \n2. Reviewed and analyzed functional requirements, mapping documents, problem solving and trouble shooting. \n3. Fixed the invalid mappings and troubleshoot the technical problems on the ERP database.'}],
 3: [{'wtitle:': 'ETL Informatica developer'},
  {'wcompany:': 'AAA '},
  {'wcity:': ' Pune'},
  {'wstate:': ' Maharashtra'},
  {'wduration:': 'November 2013 to February 2015'},
  {'wdescr:': 'United States \nRole: ETL Informatica developer \nResponsibilities: \n1. Developed ETL programs using Informatica to implement the business requirements. \n2. Created shell scripts to fine tune the ETL flow of the Informatica workflows. \n3. Used Informatica file watch events to pole the FTP sites for the external mainframe files. \n4. Production Support has been done to resolve the ongoing issues and troubleshoot the problems. \n5. Environment: Informatica 8.6.1, SQL, Unix.'}],
 4: [{'wtitle:': 'System Advisor, Manual Test Engineer & Knowledge Transfer'},
  {'wcompany:': 'Parazen Info System Pune '},
  {'wcity:': ' Pune'},
  {'wstate:': ' Maharashtra'},
  {'wduration:': 'May 2011 to November 2013'},
  {'wdescr:': "03 May '2011 to 08 Nov 2013 \nProject (1) Insurance Application: \n \nAs - System Advisor, Manual Test Engineer & Knowledge Transfer. \nHighlights: (Organizational Projects) \nClient: Citigroup \nTitle: Fin Corp Cash Controller \nPlatform: Windows XP, ERP \nMy responsibilities in these projects included: \n1. Understanding the Requirements and Functional Specifications of the application. \n2. Involved in SAP MM Implementation. Mapping Existent Business process to SAP. Blue print analysis and Gap analysis Reporting. White paper preparation for future Business processes. First integration run/ Testing. Support in Development server. \n3. Executed Test Cases as per System Requirements as well as Responsible for running test cases and posting defects."}],
 5: [{'wtitle:': 'Database Development Programme on Data Warehousing'},
  {'wcompany:': 'PROFESSIONAL ABRIDGEMENT '},
  {'wcity:': ' Indore'},
  {'wstate:': ' Madhya Pradesh'},
  {'wduration:': 'November 2010 to December 2010'},
  {'wdescr:': 'I Have the ability to communicate complex information in a simple and entertaining manner. looking to contribute my knowledge and skills in an organization that offers a genuine opportunity for career progression. \n➢ I have 2 years of experience in IT production, SQL, SSRS, SSIS, Adhoc Reporting, ETL development and Testing, Unix. \n➢ I have 6 years of experience in SAP MM, ERP. \n➢ Workshop attend on Database Development Programme on Data Warehousing, Mining and Business Intelligence held on 10-11 December 2010. Conducted by Tata Consultancy Services. \n➢ Workshop on "Improving the personality and communication skill, on dramatics (i.e. FEEL, ZEAL, DEAL) named COME OUT OF YOUR SHELL" held at IIST, Indore on 29th Sep\'2010. \n➢ Actively Co-coordinator of TECHNO COLLAGE event organized by the college in 2010. \n \nKNOWLEDGE PURVIEW \nTechnical: \nTools: SQL Server 2014, Visual Studio 2017, MSBI (SSRS, SSIS), Tableau, Basic knowledge of Python, Unix, MS Excel (Pivot tables, Vlookup). Powerpoint (Charts, Presentation). \nSAP MM SAP4.7R/3 Enterprise version, SCM & ERP. \n \nCAREER SCAN'}]}

In [18]:
def parse_dict(string):
    try:
        obj = ast.literal_eval(string)
    except:
        if isinstance(string, float):
            return ''
        for x in ["'wtitle:'", "'wcompany:'", "'wcity:", "'wstate:'", "'wduration:'", "'wdescr:'", "\n", "'NONE'", ": '", "'}, {"]:
            value = string.replace(x, '')
        value = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', value)
        value = re.sub(r'[,!?;.:]+', '', value)
        value = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', value)
        value = re.sub(r'"', '', value)
        value = re.sub(r'[•●✓·➢⮚~&]', '', value)
        value = re.sub(r'\d+', '', value)
        value = re.sub(r'\s+', ' ', value)
        return value.lower()
    result = []
    for job in obj.values():
        for item in job:
            for value in item.values():
                if value == 'NONE': continue
                value = value.replace("\n", "").strip().lower()
                value = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', value)
                value = re.sub(r'[,!?;.:]+', '', value)
                value = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', value)
                value = re.sub(r'"', '', value)
                value = re.sub(r'[•●✓·➢⮚❖~&]', '', value)
                value = re.sub(r'\d+', '', value)
                value = re.sub(r'\s+', ' ', value)
                result.append(value)
    result = ' '.join(result)
    return re.sub(r'\s+', ' ', result)

resume1['work_experiences'].sample(1).map(parse_dict).map(remove_stopwords).iloc[0]

'software engineer fendahl technology pvt ltd nagpur maharashtra january present projects hedge effectiveness testing stress solution options pricing value risk potential future exposure language r tools r studio python octave gui powershell c database ms sql server job description project create system part fusion product company project data analysis past data used differentiate two curves analyze pl change future investment strategy accordingly project used data analysis data analytics analyze past well future data future predicted prices obtained using models based result present strategies implemented project assigned project lead team size complete project implemented guidance project created scratch help service client web er team assigned service team use r c microsoft sql server powershell project used r language along libraries plumber performanceanalytics mass rquantlib foptions data table magrittr odbc rodbc tidyverse dplyr xlsx xlconnect reshape ggplot plotly main calculation part project created scratch guidance director sir software engineer shreyas technosoft pvt ltd nagpur maharashtra july december projects swasth bharat swasth nari language python sql html css bootstrap javascript tools pycharm postman git web frame work django database postgresql job worked software engineer backend developer create api project created villagers health checkup help diagnose desease proper guidance medicines project assigned software part project used python django rest framework implement backend front end devolvement use html css javascript bootstrap trainee ordnance factory nagpur maharashtra december april design mines detector shoes language embedded hardware pcb magnet segment display project made four interns internship ordinance factory team leader designing well research part done four members aim project helps ranger detect mines restricted areas like minefield war zones areas walking work experience individual projects crude oil blending linear optimization language r tool rstudio library rglpk tidyverse plotly ggplot pracma xlsx description linear optimization method used improve product process company computed quickly efficiently reliably also used find best two raw materials many minimizing cost using high quality material github link machine learning using r language r tool rstudio library carat dplyr ggplot description ml approach applied iris dataset prediction comparing five different models github link kerala flood disaster language python tool pycharm postgresql framework django rest description flood disaster management application people opt services per needs github link'

In [19]:
for x in ['work_experiences', 'Educations', 'Certificates']:
    resume1[x] = resume1[x].map(parse_dict).map(remove_stopwords)
resume1

<ipython-input-19-16622688f565>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resume1[x] = resume1[x].map(parse_dict).map(remove_stopwords)

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,Java Developer,prove dedicated worthy energetic progressive o...,java developer n present,bachelor's bachelor computer application bca c...,"['Java (Less than 1 year)', ' Jsp (Less than 1...",java developer june present trained three mont...,\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,working software developer ingroinfo software ...,java developer ingroinfo software solution pvt...,mca master computer appliction feroze gandhi i...,"['Programming Languages: Core Java', ' J2EE \n...",,NONE
2,Java developer,looking challenging career demands best profes...,java developer n,bachelor's electrical engineering shri saibaba...,"['ECLIPSE (1 year)', ' HIBERNATE', ' SPRING (L...",,"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,computer jayawantrao sawant college engineerin...,"['GIT', ' Angular 7', ' MAVEN', ' Java', ' Jen...",,NONE
4,NONE,,java developer credit system india october pre...,bachelor engineering computer science rajiv ga...,['Project: HR Payroll Systems Role: Java Devel...,,NONE
...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,management professional seeking full time posi...,project administration payroll officer centaur...,mba marketing hr mahatma gandhi university ker...,"['MS OFFICE (9 years)', ' ACONEX PROJECT MANAG...",iso qms internal auditor certification present...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,,accountant sandhya marines ltd march present s...,bcom degree college september ssc stanthony's ...,['NONE'],,\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,potential resource organization utilize skills...,administrative works dav model school durgapur...,certificate govt college barddhaman west bengal,"['ACCOUNTING', ' ERP', ' Tally', ' PAYROLL', '...",,\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,finance professional close 6 years experience ...,assistant manger jeev diagnostics pvt ltd apri...,bachelor commerce commerce jain college,"['ERP (2 years)', ' Tally (5 years)', ' MS OFF...",,\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,age 32 years gender male functional area accou...,commercial officer srmb steel continueing july...,bcom accountancy calcutta university kolkata w...,"['ACCOUNTING', ' ECOMMERCE', ' MANAGEMENT ACCO...",,\nKey Skills \n \n➢ Good communication and lea...

In [20]:
resume1['Skills'].sample(1).iloc[0]

"['C++', ' PYTHON', ' FLASK', ' KERAS', ' MATPLOTLIB', ' Git', ' MYSQL']"

In [21]:
def parse_list(string):
    if isinstance(string, float):
        return ''
    try:
        obj = ast.literal_eval(string)
    except:
        value = string.replace("\n", "").strip().lower()
        value = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', value)
        value = re.sub(r'[,!?;.:]+', '', value)
        value = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', value)
        value = re.sub(r'"', '', value)
        value = re.sub(r'[•●✓·➢⮚❖~&★]', '', value)
        value = re.sub(r'\d+', '', value)
        value = re.sub(r'\s+', ' ', value)
        return string
    result = []
    for value in obj:
        if value == 'NONE': continue
        value = value.replace("\n", "").strip().lower()
        value = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', value)
        value = re.sub(r'[,!?;.:]+', '', value)
        value = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', value)
        value = re.sub(r'"', '', value)
        value = re.sub(r'[•●✓·➢⮚❖~&★]', '', value)
        value = re.sub(r'\d+', '', value)
        value = re.sub(r'\s+', ' ', value)
        result.append(value)
    result = ' '.join(result)
    return re.sub(r'\s+', ' ', result).strip()

resume1['Skills'].sample(1).map(parse_list).iloc[0]

'python years java years php year'

In [22]:
resume1['Skills'] = resume1['Skills'].map(parse_list)
resume1

<ipython-input-22-c046bbcfc742>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resume1['Skills'] = resume1['Skills'].map(parse_list)

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,Java Developer,prove dedicated worthy energetic progressive o...,java developer n present,bachelor's bachelor computer application bca c...,java less than year jsp less than year javascr...,java developer june present trained three mont...,\nTechnical Expertise \n• Operating Systems: W...
1,Software Developer,working software developer ingroinfo software ...,java developer ingroinfo software solution pvt...,mca master computer appliction feroze gandhi i...,programming languages core java jee ide eclips...,,NONE
2,Java developer,looking challenging career demands best profes...,java developer n,bachelor's electrical engineering shri saibaba...,eclipse year hibernate spring less than year b...,,"\nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp..."
3,Seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,computer jayawantrao sawant college engineerin...,git angular maven java jenkins pcf cloud sprin...,,NONE
4,NONE,,java developer credit system india october pre...,bachelor engineering computer science rajiv ga...,project hr payroll systems role java developer...,,NONE
...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,management professional seeking full time posi...,project administration payroll officer centaur...,mba marketing hr mahatma gandhi university ker...,ms office years aconex project management years,iso qms internal auditor certification present...,\nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14800,NONE,,accountant sandhya marines ltd march present s...,bcom degree college september ssc stanthony's ...,,,\nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14801,NONE,potential resource organization utilize skills...,administrative works dav model school durgapur...,certificate govt college barddhaman west bengal,accounting erp tally payroll financial accounting,,\nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14802,NONE,finance professional close 6 years experience ...,assistant manger jeev diagnostics pvt ltd apri...,bachelor commerce commerce jain college,erp years tally years ms office years,,\nStrengths and Core Competencies \n \n• Knowl...
14803,NONE,age 32 years gender male functional area accou...,commercial officer srmb steel continueing july...,bcom accountancy calcutta university kolkata w...,accounting ecommerce management accounting,,\nKey Skills \n \n➢ Good communication and lea...

In [23]:
resume1['Additional Information'].sample(1).iloc[0]

"\nKey Skills \n \n• Architectural Design & Development \n \n• Project Scheduling \n \n• Requirement Analysis \n \n• Documentation & Analysis \n \n• Issue Tracking, problem solving \n \n• Team Management \n \n• Data structures and algorithms in developments \n \n• Client Relationship \n \n• Business Process Improvement \n \nTechnical Skills \n \n* Operating System: Unix, Linux, Windows \n* Programming: Python, Flask-RESTful API's, C, Unix shell, PHP, Core Java, \nHTML \n* Version Control Tool: Git, CVS, SVN \n* Cloud: GCP, AWS \n* DevOps: Docker, Kubernetes, Jenkins, Celery, , VSTS \n* Messaging Queue: RMQ, Pubsub \n* ORM: SQLAlchemy \n* Design Diagram: UML, Sequence, Dataflow \n* Database: MySQL \n* Tools/IDE: PyCharm, Eclipse, Vim, gedit \n* Local debug servers: Apache Tomcat, Nginx \n* Monitoring tools: ELK (Elasticsearch, Logstash, Kibana), Google Stackdriver"

In [24]:
def parse_info(string):
    if isinstance(string, float) or string == 'NONE': return ''
    value = string.replace("\n", "").strip().lower()
    value = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', value)
    value = re.sub(r'[,!?;.:]+', '', value)
    value = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', value)
    value = re.sub(r'"', '', value)
    value = re.sub(r'[•●✓·➢⮚❖~&★]', '', value)
    value = re.sub(r'\d+', '', value)
    value = re.sub(r'\s+', ' ', value)
    value = re.sub(r'technical', '', value)
    value = re.sub(r'skills', '', value)
    return value.strip()
resume1['Additional Information'].sample(1).map(parse_info).map(remove_stopwords).iloc[0]

''

In [25]:
resume1['Additional Information'] = resume1['Additional Information'].map(parse_info).map(remove_stopwords)
resume1

<ipython-input-25-bf45a65939b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resume1['Additional Information'] = resume1['Additional Information'].map(parse_info).map(remove_stopwords)

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,Java Developer,prove dedicated worthy energetic progressive o...,java developer n present,bachelor's bachelor computer application bca c...,java less than year jsp less than year javascr...,java developer june present trained three mont...,expertise operating systems windows languages ...
1,Software Developer,working software developer ingroinfo software ...,java developer ingroinfo software solution pvt...,mca master computer appliction feroze gandhi i...,programming languages core java jee ide eclips...,,
2,Java developer,looking challenging career demands best profes...,java developer n,bachelor's electrical engineering shri saibaba...,eclipse year hibernate spring less than year b...,,frameworks spring springboot hibernate jpa jun...
3,Seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,computer jayawantrao sawant college engineerin...,git angular maven java jenkins pcf cloud sprin...,,
4,NONE,,java developer credit system india october pre...,bachelor engineering computer science rajiv ga...,project hr payroll systems role java developer...,,
...,...,...,...,...,...,...,...
14799,Back Office Operations & HR Coordinator,management professional seeking full time posi...,project administration payroll officer centaur...,mba marketing hr mahatma gandhi university ker...,ms office years aconex project management years,iso qms internal auditor certification present...,iso qms llyod register certified aconex certif...
14800,NONE,,accountant sandhya marines ltd march present s...,bcom degree college september ssc stanthony's ...,,,computer proficiency applications accounting t...
14801,NONE,potential resource organization utilize skills...,administrative works dav model school durgapur...,certificate govt college barddhaman west bengal,accounting erp tally payroll financial accounting,,year degree certificate institution % marks pa...
14802,NONE,finance professional close 6 years experience ...,assistant manger jeev diagnostics pvt ltd apri...,bachelor commerce commerce jain college,erp years tally years ms office years,,strengths core competencies knowledge end end ...
14803,NONE,age 32 years gender male functional area accou...,commercial officer srmb steel continueing july...,bcom accountancy calcutta university kolkata w...,accounting ecommerce management accounting,,key good communication leadership skill intern...

In [26]:
resume1['Resume_title'].sample(1).iloc[0]

'NONE'

In [27]:
resume1['Resume_title'] = resume1['Resume_title'].str.replace('NONE', '').str.replace('\n', '').str.lower().map(lambda x: '' if isinstance(x, float) else x)
resume1

<ipython-input-27-9e5eefea73d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resume1['Resume_title'] = resume1['Resume_title'].str.replace('NONE', '').str.replace('\n', '').str.lower().map(lambda x: '' if isinstance(x, float) else x)

,Resume_title,Description,work_experiences,Educations,Skills,Certificates,Additional Information
0,java developer,prove dedicated worthy energetic progressive o...,java developer n present,bachelor's bachelor computer application bca c...,java less than year jsp less than year javascr...,java developer june present trained three mont...,expertise operating systems windows languages ...
1,software developer,working software developer ingroinfo software ...,java developer ingroinfo software solution pvt...,mca master computer appliction feroze gandhi i...,programming languages core java jee ide eclips...,,
2,java developer,looking challenging career demands best profes...,java developer n,bachelor's electrical engineering shri saibaba...,eclipse year hibernate spring less than year b...,,frameworks spring springboot hibernate jpa jun...
3,seeking innovative and challenging career assi...,,java developer atos syntel pune maharashtra ju...,computer jayawantrao sawant college engineerin...,git angular maven java jenkins pcf cloud sprin...,,
4,,,java developer credit system india october pre...,bachelor engineering computer science rajiv ga...,project hr payroll systems role java developer...,,
...,...,...,...,...,...,...,...
14799,back office operations & hr coordinator,management professional seeking full time posi...,project administration payroll officer centaur...,mba marketing hr mahatma gandhi university ker...,ms office years aconex project management years,iso qms internal auditor certification present...,iso qms llyod register certified aconex certif...
14800,,,accountant sandhya marines ltd march present s...,bcom degree college september ssc stanthony's ...,,,computer proficiency applications accounting t...
14801,,potential resource organization utilize skills...,administrative works dav model school durgapur...,certificate govt college barddhaman west bengal,accounting erp tally payroll financial accounting,,year degree certificate institution % marks pa...
14802,,finance professional close 6 years experience ...,assistant manger jeev diagnostics pvt ltd apri...,bachelor commerce commerce jain college,erp years tally years ms office years,,strengths core competencies knowledge end end ...
14803,,age 32 years gender male functional area accou...,commercial officer srmb steel continueing july...,bcom accountancy calcutta university kolkata w...,accounting ecommerce management accounting,,key good communication leadership skill intern...

In [28]:
resume1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14804 entries, 0 to 14803
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_title            14804 non-null  object
 1   Description             14804 non-null  object
 2   work_experiences        14804 non-null  object
 3   Educations              14804 non-null  object
 4   Skills                  14804 non-null  object
 5   Certificates            14804 non-null  object
 6   Additional Information  14804 non-null  object
dtypes: object(7)
memory usage: 809.7+ KB

In [29]:
output_resume1 = resume1.apply(lambda x: ' '.join(str(x) for x in x.values), axis=1)
output_resume1

0        java developer prove dedicated worthy energeti...
1        software developer working software developer ...
2        java developer looking challenging career dema...
3        seeking innovative and challenging career assi...
4          java developer credit system india october p...
                               ...
14799    back office operations & hr coordinator manage...
14800      accountant sandhya marines ltd march present...
14801     potential resource organization utilize skill...
14802     finance professional close 6 years experience...
14803     age 32 years gender male functional area acco...
Length: 14804, dtype: object

In [30]:
os.listdir('datasets/Resume_dataset2/resumes_text_15k')

['batch_15',
 'batch_2',
 'batch_12',
 'batch_7',
 'batch_1',
 'batch_10',
 'test_batch',
 'batch_14',
 'batch_3',
 'batch_11',
 'batch_6',
 'batch_13',
 'batch_9',
 'batch_8',
 'batch_5',
 'batch_4']

In [31]:
resume2 = []

def process_text(string):
    string = re.sub(r'[\uf0d8\uf0f6\uf0b7\uf020\uf028\uf02a]', '', string)
    string = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', string)
    string = re.sub(r'[_·-•-/■�▪]+', ' ', string)
    string = re.sub(r'[,!?;.:]+', '', string)
    string = re.sub(r'[\+\*=@#<>\(\)\[\]\^_{}\\/-]+', ' ', string)
    string = re.sub(r'"', '', string)
    string = re.sub(r'[•●✓·➢⮚❖~&★]', '', string)
    string = re.sub(r'\d+', '', string)
    string = string.replace('\t', '').lower()
    string = re.sub(r'\s+', ' ', string)
    string = remove_stopwords(string)
    return string

batches = os.listdir('datasets/Resume_dataset2/resumes_text_15k')
for x in batches:
    files = os.listdir(f'datasets/Resume_dataset2/resumes_text_15k/{x}')
    for file in files:
        with open(f'datasets/Resume_dataset2/resumes_text_15k/{x}/{file}', 'r', encoding='utf-8') as f:
            lines = [line.strip() for line in f.readlines()]
            lines = [process_text(line).strip() for line in lines if line and len(line) > 1]
            resume2.append(lines)

In [32]:
import random
n = random.random()

resume2[int(n*len(resume2))]

['position held',
 'sikandar badusha j',
 'co ordinator execution',
 'position held',
 'co ordinator execution',
 'years experience',
 'years',
 'objective',
 'etch name quality establishment facing challenging head vindicating field choose work progressive organization offering scope self improvement well organization improvement',
 'triats',
 'optimistic enthusiastic energetic hard working personality',
 'working attitude',
 'ability lead team',
 'convincing capability pleasing personality',
 'educational qualification',
 'course',
 'school college university',
 'year passing',
 'percentage obtained',
 'b sc information technology',
 'rdb college arts science papanasam bharathidasan university',
 "april'",
 'first class',
 'higher secondary',
 'little flower hr sec school kumbakonam',
 "march'",
 '',
 'l c',
 'little flower hr secondary school kumbakonam',
 "march'",
 '',
 'computer proficiency',
 'operating system',
 'windows xp',
 'softwares',
 'adobe photoshop',
 'packages',
 'ms office',
 'typing',
 'english lower',
 'facilities management',
 'documentation',
 'manpower managements',
 'hr recruitment documents handling',
 'guest relation client coordination',
 'data entry',
 'general designing',
 'job portal searching',
 'creating applications',
 'modifying templates photoshop',
 'ticketing',
 'letter report writing',
 'general office works',
 'professional expertise',
 'working senior co ordinator execution assidua mercantile services pvt ltd chennai tamil nadu india',
 'organization',
 'assidua international pvt ltd renowned private foreign employment recruitment services agency supplying manpower countries world',
 'resources vast experience enable us find individuals desired caliber qualities train mobilize dispatch employment short period time',
 'manpower consultants offer entire spectrum personnel requirement unskilled skilled labour qualified professionals every trade',
 'fully equipped head office premise located sharjah',
 'september till',
 'working executive documents controller bluechip services international private limited chennai',
 'oct august',
 'organization',
 'bluechip services international pvt ltd field recruitment normally deal local international recruitment bluechip branches across india chennai kerela bangalore calcutta delhi india apart also offices located malaysia singapore qatar dubai kuwait main motive assisting employees satisfying needs',
 '',
 'worked admin assistant cum filing clerk alico group companies sharjah uae',
 "june august'",
 'organization',
 'alico group companies field life insurance main motive organization create awareness public importance insurance advantage main motive explain public life important live even leave',
 '',
 'worked data entry operator company named astron india pvt ltd chennai',
 'august may',
 'organization',
 'astron india pvt ltd normally field data conversion software development normally work subordinates around chennai also outsourcing official vendors basically works order businesses plenty quality good',
 'personal profile',
 'name',
 'sikandar badusha j',
 'father name',
 'mr mijahabar ali',
 'mother name',
 'mrs jjahabar natchiya',
 'date birth',
 '',
 'age',
 'years',
 'sex',
 'male',
 'nationality',
 'indian',
 'passport',
 'f',
 'passport expiry',
 '',
 'mobile',
 '',
 'languages known',
 'english tamil hindi',
 'declaration',
 'mentioned details true presence knowledge',
 'place',
 'chennai',
 'date',
 '',
 'jsikandar',
 'address alagar perumal kovil street vadapalani chennai',
 'email jsikandar gmailcom',
 'mobile']

In [33]:
output_resume2 = [' '.join(x) for x in resume2 if len(x) > 1]
output_resume2[:2]

['nilesh vakharia falguni dilipbhai umraniya luhar chowk nr ram temple mandvi kutch gujarat falguniumraniya gmailcom  page objective seeking challenging career human resource progressive organization utilize skills abilities education management contributing development organization core competences mba human resources management years months experience comprehensive knowledge recruitment procedures contract labor management policy implementations demonstrates flexibility adaptability daily work changing strategies procedures believing constant learning develop varied skills abilities achieve desired ambitious goals responsible committed loyal reliable independent high level enthusiasm creativity professional experience mundra international container terminal pvt ltd dp world  th july till date officer human capital administration job responsibilities primary responsibility handling contracts average contract labors selection induction contract labor per company policy co ordinate hse team safety training ensure biometric punching registration id card generation new joiners roll contract employees setting quarterly review kpi contracts communicating clms policies across contractor organization levels documentation pre joining forms training forms etc documentation legal compliances maintain contract wise legal documents keep track compliance like working hours weekly minimum wage pf pt bonus wc policy labor license lwf etc attendance monitoring monthly reports mis establish maintain strong business relationship stakeholders provide advice support stakeholders educate contract labor legal rights assist ilearn training roll employees assist superior employees pms hosting monthly reward recognition meeting looking exit interview full final settlement left roll employees secondary responsibility handling average roll employees assist recruitment selection prepare offer letter job descriptions appointment letter look joining formalities documentation boarding process induction look legal compliances documentation give basic training junior level staff processing attendance data attendance system maintaining employees personal files records communicating hr policies across organization levels keeping track confirmation employees maintain necessary database record handle employee matters assist medical claim education reimbursement process assist csr activity falguni dilipbhai umraniya luhar chowk nr ram temple mandvi kutch gujarat falguniumraniya gmailcom  page gujarat adani institute medical sciences adani group st october th july year months jr executive human resources job responsibilities end end recruitment employee engagement activity hr administration processing monthly attendance muster medical pera medical non medical staff maintaining leave records maintaining employees personal files records communicating hr policies across organization levels preparing various letters like offer letter appointment letter confirmation letter increment letter transfer letter experience service certificate reliving letter etc assisting performance appraisal tds calculation maintain necessary database record handle employee matters educational qualification post graduation diploma international business management bkschool business management master business administration hr ksschool business management bachelor business administration ksschool business management hsc commerce gujarat board ssc gujarat board training project company pantaloon retail india ltd project title functions hr manager training development retention duration months languages english hindi gujarati computer skills good knowledge ms office word excel powerpoint familiar basic functionalities like accessing emails browsing internet creating word documents personal detail name falguni umraniya dob th august sex female marital status unmarried nationality indian declaration hereby declare information furnished true best knowledge signature falguni umraniya',
 'bhanu prakash email prakashmamidi gmailcom phone objective aspiring challenging position would utilize skills sap security administrator continuously updating skills best performance professional summary around years total experience large scale enterprise support sap includes ecc security grc ac hands experience role administration ecc security hands experience user administration ecc bi enterprise portal design create modify roles per business requirements mass modification roles su setting maintenance create transport security role changes se se user id creation modification deactivation termination different type users like sap user web channel user vendor user portal user maintain user defaults alias etc providing prod information status reports using user information system suim table level se worked cua tcodes scul create maintain user groups authorization groups transactions sugr se trouble shooting analysis authorization issues worked licensing activity knowledge portal security resolving security tickets based service level agreements hands experience support project activities grc ac assigning owners controllers firefighter id performing simulation user level role level technical skills sap version sap r ecc tools grc ac hp service managerservice ticketing tool educational background bachelor technology vidyaniketan engineering college tirupati professional experience currently working capgemini igate global solutions dec till worked uk based us based clients projects companyspectra energy designationsap consultant durationfrom feb till environment sap ecc grc ticketing tool hp service manager project typesupport roles responsibilities performing user administration working onall types role changes trouble shooting authorization issues using st su use su maintain add authorization objects transaction codes based client defined requirements performed su configuration steps upgrade fetching user role related reports according client needs using suim tables se user administration enterprise portal worked ecc role design project perform licensing activity using usmm slaw license admin worked cua created security reports using security tables like agr agr usr etc maintained sap default users like sap ddic per sap standards across landscape knowledge transaction codes scul scum scua pulling audit logs using transaction code sm activating logs using sm worked stn find transaction analysis created user groups using transaction code sugr grc ac maintaining sod providing authorizations checking sod compliance grc ac resolution sod conflicts transaction authorization object level applying mitigation controls mitigate risks user level creation mitigation control id suggested owner monitor experience emergency access management grc virsa creation firefighter ids firefighter owner reason codes assignment firefighter ids firefighter fetching report firefighter logs review sign performed user administration worked profile generator creating changing single roles derived roles create release transports troubleshooting authorization issues fetching user role related reports according client needs using suim tables se usage grc approval tool check sod conflicts registered developers sap service market place creating oss ids open oss connection sap service market place bi security good knowledge bi authorization objects rs comp rs comp rs auth hands experience analysis authorization trouble shooting authorization issues using su st rsecadmin tables projects companykronos designationsap security consultant durationfrom dec feb environmentsap ecc client profile worked manufacturer functional domains provided sap security support one world leading ceramics glass producer distributer ecc security perform user administration create single derived roles using profile generator tool create release transports facilitate user acceptance testing trouble shooting authorization issues maintain table level security add maintain authorization objects transaction codes based client defined requirements fetching user role related reports according client needs using suim tables se bi security create analysis authorization trouble shooting authorization issues achievements received pat back remarkable diligent work security administration']

In [34]:
print(len(output_jd))
print(len(output_resume1))
print(len(output_resume2))

72292
14804
15052

In [46]:
with open('data.txt', 'w+', encoding='utf-8') as f:
    for x in output_jd.to_list() + output_resume1.to_list() + output_resume2:
        f.write(x)
        f.write('\n')

In [36]:
jd['Query'].unique()

array(['administrative assistant', 'sales representative',
       'customer service representative', 'java developer',
       'financial analyst', 'project manager', 'executive assistant',
       'maintenance technician', 'physical therapist', 'store manager',
       'staff accountant', 'inside sales representative',
       'account executive', 'receptionist', 'senior accountant',
       'business analyst', 'restaurant manager', 'account representative',
       'retail sales associate',
       'sales representative / account manager /  customer service',
       'retail wireless sales consultant', 'sales management trainee',
       'jani-king franchise business opportunity',
       'own your own franchise!', 'cashier', 'sales / franchise',
       'customer service - sales representative - part time work',
       'mobile tool sales / franchise distributor', 'benefits consultant',
       'sales / customer service – part or full time – summer work'],
      dtype=object)

In [37]:
jd['Query'].value_counts()

administrative assistant                                      4395
customer service representative                               4200
own your own franchise!                                       3701
sales representative                                          3556
mobile tool sales / franchise distributor                     3275
retail wireless sales consultant                              3194
sales / franchise                                             3120
project manager                                               2845
staff accountant                                              2834
retail sales associate                                        2769
business analyst                                              2420
sales / customer service – part or full time – summer work    2419
sales representative / account manager /  customer service    2412
senior accountant                                             2216
jani-king franchise business opportunity                      2196
benefits consultant                                           2049
store manager                                                 2021
account representative                                        1977
account executive                                             1876
maintenance technician                                        1834
customer service - sales representative - part time work      1823
java developer                                                1796
financial analyst                                             1754
inside sales representative                                   1740
cashier                                                       1717
sales management trainee                                      1708
restaurant manager                                            1679
executive assistant                                           1616
receptionist                                                  1575
physical therapist                                            1575
Name: Query, dtype: int64

In [38]:
encoder = {x: i for i,x in enumerate(jd['Query'].unique())}

In [47]:
output_jd_label = '__label__' + jd['Query'].str.replace(r'[/–-]', '').str.split().str.join('-') + ' ' + jd['Description']
output_jd_label

0        __label__administrative-assistant administrati...
1        __label__administrative-assistant administrati...
2        __label__administrative-assistant administrati...
3        __label__sales-representative ready something ...
4        __label__customer-service-representative super...
                               ...
72287    __label__business-analyst ability construct co...
72288    __label__business-analyst join u pursue disrup...
72289    __label__business-analyst duty high level inde...
72290    __label__business-analyst crowdstrike leading ...
72291    __label__business-analyst manager competitive ...
Length: 72292, dtype: object

In [48]:
output_jd_label.to_csv('jd.csv', index=False, header=False)